.container{
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 100vh;
    padding: 10px;
    border: 1px solid gray;
    gap: 20px;
    border-right: 1px solid gray;
    overflow: hidden;
}